html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;

  font-family: var(--font-family-base), sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  //color: var(--black);
  //font-weight: 700;
  //line-height: 1.2;
  //text-transform: uppercase;
}

//h1, .h1 {
//  @include fluid-text(44, 32);
//
//  color: var(--white);
//}
//
//h2, .h2 {
//  @include fluid-text(40, 24);
//
//  position: relative;
//  padding-left: fluid(40, 20);
//
//  &::before {
//    position: absolute;
//    top: 0;
//    left: 0;
//
//    display: block;
//
//    width: fluid(8, 6);
//    height: 100%;
//
//    content: "";
//
//    background-color: var(--red);
//  }
//
//  &.centered {
//    width: fit-content;
//    margin: 0 auto;
//  }
//}
//
//h3, .h3 {
//  @include fluid-text(32, 20);
//}
//
//h4, .h4 {
//  @include fluid-text(24, 16);
//}
//
//h5, .h5 {
//  @include fluid-text(20, 14);
//}
//
//h6, .h6 {
// //
//}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

button {
  background: unset;
  border: none;
  color: var(--white);
  text-transform: uppercase;
}

main {
  display: flex;
  height: calc(100vh - (var(--header-height) + var(--footer-height)));
  justify-content: space-between;
  align-items: center;
}

section {
  display: flex;
  column-gap: 10px;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding-inline: 160px;
}

aside {
  padding: 20px;
}

.glitch-class {
  animation: glitch 0.3s infinite linear;
}

@keyframes glitch {
  0% { filter: drop-shadow(3px 3px red) drop-shadow(-3px -3px blue); }
  50% { filter: drop-shadow(-3px 3px blue) drop-shadow(3px -3px red); }
  100% { filter: drop-shadow(3px -3px red) drop-shadow(-3px 3px blue); }
}

:has(.swiper) {
  min-width: 0;
}