:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #3405A2;
  --orange: #FF4900;

  --font-family-base: 'Inter', sans-serif;

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}